:root {
    --bg-black-50: #eff0f4;
    --outer-shadow: 3px 3px 3px #d0d0d0, inset 3px 3px 3px #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, 3px 3px 3px #f8f8f8;
    --outer-shadow-0: 0px 0px 0px #d0d0d0, 0px 0px 0px #f8f8f8;
    --bg-black-100: #dddddd;
}
.navbar{
    background-color:var(--bg-black-100);
    border-radius:10px;
    margin: 0 auto;
}
.navbar a{
    text-decoration:none;
    color: black;
    padding: 10px;
    font-weight: 600;
    background-color: var(--bg-black-50);
    margin: 10px;
    border-radius:10px;
}
.navbar a:hover{
    text-decoration:none;
    color: black;
    /* transform: 5s; */
    transition: 1s;
}
.hover-in-shadow {
    position: relative;
    z-index: 1;
}
.hover-in-shadow:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}
.hover-in-shadow:hover:after {
    box-shadow: var(--inner-shadow);
}

.hover-in-shadow:hover {
    box-shadow: var(--outer-shadow-0);
}

:before, :after {
    box-sizing: border-box;
}
a:after {
    border-radius:10px;
}